<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/standard.css" rel="stylesheet">
</head>
<body>
<div th:fragment="navbar">
    <div class="navContainer">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav flex-fill">
                <li class="nav-item">
                    <a class="navbar-link" th:href="@{/}">Back To Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-link" th:href="@{/blogposts/new}">Submit New Blog Post</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>