
p{
    font-weight: bold;
    font-size: 48px;
    color: green;
    padding: 16px;
    font-size: 72px;
}
p{

    color:red;
}
.mini{
    font-size 8px;

}

#suitcase{
color:blue;
font-size:30px;

}

.travel{
    color:green;
    font-style:italic;
}

button:hover{
background-color:pink;
color:white;
}

a:visited{
    color: rgb(50, 204, 83);
}

button
